label{
    display: flex;
    flex-direction: column;
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
} 
.font-family {
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
    text-align: center;
}