label{
    display: flex;
    flex-direction: column;
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
} 
.font-family {
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
    text-align: center;
    
    
}

form{
    width: fit-content;
}

.button{
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    margin-left: 20%;
}

.entryHeading{
    margin-left: 15%;
}

body{
    
    background-image: url(https://img5.goodfon.com/wallpaper/nbig/d/71/zima-sneg-snezhinki-fon-christmas-winter-background-snow-s-5.jpg);
    background-position: center;
    background-repeat: no-repeat;

}

.row {
    display: flex;
  }

  .column {
    flex: 10%;
    padding: 2em;
  }

.hEntry{
    font-size: xx-large;
}

#mood {
    font-family: 'Dancing Script', cursive;
}

main {
    margin: 5%;
    padding: 2em;
}

.parent-container {
    display: flex;
    flex-wrap: wrap;
}